body {
    margin: 0;
}   
.red {
    height: 100px;
    background-color: #ff0000;
}
.blue {
    height : 100px;
    background-color: #0000ff;
    margin-top: 20px;
    margin-bottom: 20px;

}
.green {
    height : 100px;
    background-color: #00ff00;
}
