.item{
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-wrapper{
    display: flex;
    justify-content: center;
}